<template name="picture">
    <div class="instrument-card well" id="{{_id}}">

        {{#if video}}
            <video loop controls id="bgvid" class="video-card">
                <source src="{{videoPath path}}" type="video/mp4">
            </video>
        {{else}}
            <div class="img-container">
                <img src="{{resizedImagePath path}}" alt=""/>
            </div>
        {{/if}}

        <div class="instrument-details">
            {{>pictureViewer}}
        </div>

    </div>
</template>