<template name="pictureViewer">

    <div class="header clearfix">
        <h4>{{baseName}}</h4>
        <div class="action-buttons">
            <a class="btn btn-default" href="{{originalImagePath path}}"  data-lightbox="instrument"><i class="fa fa-expand"></i></a>
            <a class="btn btn-info" href="{{pathFor route='analyzer' _id= _id}}"><i class="fa fa-pencil"></i></a>
        </div>
    </div>

    <div class="col-sm-12">

        <div class="form-group">

            <label class="label-container">Class:</label>

            <p class="value-container">{{class}}</p>

        </div>

        <div class="form-group">

            <label class="label-container">Comment:</label>

            <p class="value-container comment">{{comment}}</p>

        </div>

        <div class="form-group">

            {{>tagInput}}

        </div>


    </div>

</template>