.analyzer-image {
    display:block;
    height:500px;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border:1px solid #909090;
}
