.analyzer-image {
    display:block;
    height:500px;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border:1px solid #909090;
}



.picture-container {
    margin-bottom: 20px;
    position: relative;
}

.picture-container img{
    width: 100%;
}

.instrumentRefOptions {
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: #fff;
}

.instrumentRefOptions ul
{
    list-style-type: none;
}