body {
    padding-top: 120px;
    background-color: #f1f4f9;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #f1f4f9;
}

.footer .footerCaption {
    color: white;
    position: relative;
    top: 90px;
    font-family: 'Lobster', cursive;
}

.instrument-container {
    padding-top: 40px;
}

.filter {
    background:#fff;
    border-radius:4px;
    padding: 30px 30px 15px 100px;
    margin-bottom: 20px;
    position: relative;
}

#showMoreResults {
    position: relative;
    height: 300px;
    top: 100px;
}

.filter-icon {
    position: absolute;
    top: 20px;
    left: 15px;
    bottom: 0;
    width: 70px;
    background: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
}

.filter label {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 0.5em;
}

.navbar {
    background-image: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.well {
    border-radius: 0px;
    background-color: #FFF;
}

.jumbotron {
    background-color: #fff;
    border-radius: 0px;
}

.filter .form-group {
    vertical-align: top;
}

.filter .form-group-checkbox {
    padding-top: 0.3em;
}

.filter .form-control {
    margin-right: 1em;
}
.filter .form-sub-group {
    margin-bottom: 1em;
}

.form-checkbox-list {
    display: inline-block;
    vertical-align: top;
}

.form-checkbox-list .checkbox {
    display: block;
}

.instrument-card {
    background-color: #fff;
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 40px;

    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.39);
    border: 1px solid #dddddd;
}

.instrument-card .img-container {
    width: 70%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.instrument-card .img-container img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.instrument-card .action-buttons {
    float: right;
}

.instrument-details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    background: #FFF;

    color: #000;
    padding: 0;
    box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.3);

    overflow-y:auto;
}

.instrument-details .header {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.instrument-details .header h4 {
    margin: 0;
    float: left;
    line-height: 40px;
}

.instrument-details .form-group {
    vertical-align: bottom;
    padding: 0;
    margin: 0;
}

.instrument-details .label-container, .instrument-details .value-container {
    height: 40px;
    display: inline-block;
    margin: 0;
}

.instrument-details label {
    text-transform: uppercase;
    font-weight: normal;
    color: #333;
}

.instrument-details .label-container {
    width: 50%;
    text-align: right;
    padding-right: 0.5em;
}

.instrument-details .value-container {
    font-size: 1.5em;

}

.instrument-details .value-container.comment {
    font-size: 1em;
}

.instrument-details .value-container:empty:after {
    content: 'n/a'
}

.instrument-details .port-overview {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.instrument-details .port-indicator {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    margin: 0 0.5em 0 0;

    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.instrument-details .port-indicator.sound-selector {
    float: right;
}

.instrument-details .port-indicator.sound-selector.active {
    background-image: url('sensor-sound-wheel.png');
}

.instrument-details .port-indicator.Button {
    background-image: url('sensor-icon-button.png');
}

.instrument-details .port-indicator.Color {
    background-image: url('sensor-icon-color.png');
}

.instrument-details .port-indicator.Gyro {
    background-image: url('sensor-icon-gyro.png');
}

.instrument-details .port-indicator.UltraSonic {
    background-image: url('sensor-icon-ultra-sonic.png');
}

.instrument-details .port-indicator.IR {
    background-image: url('sensor-icon-ir.png');
}

.instrument-card .video-card {
    width: 70%;
    display: block;
}

h3 {
    margin-top: 0;
}

h3 .photo-time {
    font-size: 0.5em;
    float: right;
}

.slider.slider-horizontal {
    width: 100%;
    margin-top: 0.8em;
}

.slider.slider-horizontal .slider-selection {
    background: #eb6864;
}

.slider.slider-horizontal .slider-handle {
    background: #393a35;
}

.sensor-selectors {
    padding-top: 11px;
}

.sensor-selectors .form-group {
    margin-bottom: 0;
}

.sensor-selectors select.form-control {
    padding: 5px 10px;
    width: 90%;
    height: 35px;
}

.mis-connections {
    margin-top: 4px;
}

.small-number-input {
    padding: 5px;
    height: 35px;
    width: 40px;
    display: inline-block;
}

.login-link-text {
    color: #ffffff;
}

.filter .tokenfield {
    min-width:200px;
}


.chart-container {
    background:#FFF;
}
.chart-container .chart {
    /*height:400px;*/
    width:100%;
}
.panel-heading select {
    width:80%;
    width:calc(100% - 50px);
}

.instrument-details h3 {
    font-size: 1em;
    margin: 1em 0 0 0;
    padding: 0;
    text-transform: uppercase;
}
.comments {
    list-style: none;
    padding: 0;
    margin: 0.5em 0 3em 0;
}
.comments .comment {
    border-bottom: 1px solid #FFF;
    background:#f5f5f5;
    color:#777;
    padding:0.5em;
}
.comments .comment .author {
    color: #336699;
    font-weight: bold;
}
.comments .comment .datetime {
    display:block;
    font-weight: normal;
    font-style: italic;
    font-size: 0.7em;
    color:#999;
    text-align: right;
}
.comments .comment textarea {
    width:100%;
    border:none;
}
