<template name="main">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <title>StatisticsMachine</title>
    </head>

    {{> header}}
    <div class="container instrument-container">
        {{#if currentUser}}
            {{> yield}}
        {{else}}
            <div align="center" class="jumbotron">
                <div class="page-header">
                    <h1>You are not logged in
                        <small>Sign-in to begin</small>
                    </h1>
                </div>
            </div>

        {{/if}}

    </div>
    {{> footer}}
</template>