<template name="filter">
    <div class="filter well">
        <div class="filter-icon danger"><span class="glyphicon glyphicon-filter"></span></div>
        <div class="filter-form">
            <form class="form-inline">
                <div class="form-group form-group-sm">
                    <label for="filterInputClass" class="control-label">Class</label>

                    <select id="filterInputClass" name="filterInputClass" class="form-control">
                        <option value="" {{filterClassChecked}}>ALL</option>
                        {{#each schoolClasses}}
                        <option value="{{value}}" {{filterClassChecked}}>{{value}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <div class="form-sub-group">
                        <label for="filterInputInstrumentRating" class="control-label">Instrument</label>
                        <select id="filterInputInstrumentRating" name="filterInputInstrumentRating" class="form-control">
                            <option value="" {{filterIntrumentRatingChecked}}>ALL</option>
                            {{#each loopCount 5 1}}
                            <option value="{{this}}" {{filterInstrumentRatingChecked}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-sub-group">
                        <label for="filterInputDecorationRating" class="control-label">Decoration</label>
                        <select id="filterInputDecorationRating" name="filterInputDecorationRating" class="form-control">
                            <option value="" {{filterDecorationRatingChecked}}>ALL</option>
                            {{#each loopCount 5 1}}
                            <option value="{{this}}" {{filterDecorationRatingChecked}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>
                <div class="form-group form-group-sm form-group-checkbox">
                    <label class="control-label">Sensors</label>

                    <div class="form-checkbox-list">
                        <div class="checkbox">
                            <label><input type="checkbox" id="sensorButton" name="filterSensors" value="button"
                                          checked="{{filterSensorChecked 'Button'}}"> Button</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterSensors" id="sensorColor" value="color"
                                          checked="{{filterSensorChecked 'Color'}}"> Color</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterSensors" id="sensorIR" value="ir"
                                          checked="{{filterSensorChecked 'IR'}}"> IR</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterSensors" id="sensorUltraSonic" value="ultra-sonic"
                                          checked="{{filterSensorChecked 'UltraSonic'}}"> Ultra-Sonic</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterSensors" id="sensorGyro" value="gyro"
                                          checked="{{filterSensorChecked 'Gyro'}}"> Gyro</label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm form-group-checkbox">
                    <label class="control-label">Ports</label>

                    <div class="form-checkbox-list">
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterPort" value="1" id="port1" checked="{{filterPortChecked 1}}">
                                Port 1</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterPort" value="2" id="port2" checked="{{filterPortChecked 2}}">
                                Port 2</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterPort" value="3" id="port3" checked="{{filterPortChecked 3}}">
                                Port 3</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="filterPort" value="4" id="port4" checked="{{filterPortChecked 4}}">
                                Port 4</label>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group form-group-sm">

                    <label for="filterComment" class="control-label">Comment</label>


                </div>-->
                <div class="form-group form-group-sm form-group-checkbox">
                    <label class="control-label">Misc</label>

                    <div class="form-checkbox-list">
                        <div class="checkbox form-sub-group">
                            <label><input type="checkbox" name="filterPort" value="1" id="soundselector"
                                          checked="{{filterSoundSelectorChecked}}">
                                Sound Selector</label>
                        </div>
                        <div class="form-sub-group">
                            <input type="number" class="form-control small-number-input" id="inputMisconnections" value="{{filterMisconnectionsValue}}" style="width: 60px;">
                            <label for="inputMisconnections">Mis-conn.</label>
                        </div>
                        <div class="form-sub-group">
                            <input type="text" placeholder="Search comments..." class="form-control" id="filterComment" value="{{filterCommentValue}}"/>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <br/>

</template>