<template name="instrument">
    <!-- BEGIN INSTRUMENT -->
    <div class="instrument-card well" id="{{_id}}">
        <div class="row">
            <div class="col-sm-6">
                <a href="{{original}}{{path}}" target="_blank" class="instrument-image"
                   style="background-image:url('{{resized}}{{path}}');"></a>
            </div>
            <div class="col-sm-6 description">
                {{>instrumentChanger}}
            </div>
        </div>

    </div>
    <!-- END INSTRUMENT -->
</template>