<template name="analyzer">
    <div class="analyzer-container col-sm-12 jumbotron">
        <div class="center-block">
            <a href="{{original}}{{path}}" target="_blank" class="analyzer-image"
               style="background-image:url('{{resized}}{{path}}');"></a>
        </div>
    </div>

    <div class="col-sm-12 jumbotron">
        <div class="col-sm-offset-4 col-sm-4">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" id="instrumentState" class="{{setState "instrument"}}"><a href="#">Instrument</a></li>
                <li role="presentation" id="pictureState" class="{{setState "picture"}}"><a href="#">Picture / Video</a></li>
            </ul>
        </div>

        {{#if equals instrument 'instrument'}}
            {{>instrumentChanger}}
        {{/if}}
        {{#if equals instrument 'picture'}}
            <p>

            <h1>picture</h1></p>
        {{/if}}

    </div>

    {{#if isDefault}}


    <div class="col-sm-12">
        <nav>
            <ul class="pager">
                <button type="button" class="btn btn-default" id="saveState">Save</button>
                <br/>

                <div class="col-sm-offset-2 col-sm-8">
                    <div class="alert alert-danger" id="remember" role="alert">Remember to choose instrument or
                        picture!
                    </div>
                </div>
            </ul>
        </nav>
    </div>
    {{/if}}
</template>