<template name="analyzer">
    <div class="analyzer-container col-sm-12 jumbotron">
        <div class="nextButton"><h1><a href="{{pathFor route='analyzer-random'}}"><i class="fa fa-arrow-circle-right"></i></a></h1></div>
        <div class="center-block">
            <img src="{{resizedImagePath path}}" class="analyzer-image" alt=""/>
        </div>

    </div>

    <div class="col-sm-12 jumbotron">
        <div class="col-sm-offset-4 col-sm-4">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" id="instrumentState" class="{{getState "instrument"}}"><a
                        href="#">Instrument</a></li>
                <li role="presentation" id="pictureState" class="{{getState "picture"}}"><a href="#">Picture / Video</a>
                </li>
            </ul>
        </div>

        {{#if equals instrument 'instrument'}}
            {{>instrumentChanger}}
        {{/if}}
        {{#if equals instrument 'picture'}}
            {{>pictureChanger}}
        {{/if}}

    </div>

</template>