<template name="pictureChanger">
    <div class="col-sm-12 description">
        <!-- Trigger the modal with a button -->

        <p>Class: {{class}}</p>

        <div class="row">
            <div class="col-sm-12 column-padding">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tags</label>

                    <div class="col-sm-9">
                        {{>tagInput}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 column-padding">
                <div class="form-group">
                    <label for="inputComment" class="col-sm-3 control-label">Comment</label>

                    <div class="col-sm-9">
                            <textarea id="inputComment" class="form-control" rows="8"
                                      placeholder="Write a comment or description...">{{comment}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9 column-padding">
                <h2>Instruments in picture:</h2>
            </div>
            <div class="col-sm-3 analyzerPicturelinkButton" align="right">
                <a class="btn btn-warning" href="#" data-toggle="modal" data-target="#pictureRefModal{{_id}}"><i
                        class="fa fa-link"></i> Link To Instrument(s)</a>
                </div>
        </div>

        {{#each instrumentRefs}}
            <div class="picture-container col-sm-6">
                <img src="{{resizedImagePath path}}" alt=""/>

                <div class="instrumentRefOptions">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-bars"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{originalImagePath path}}"
                                       data-lightbox="choosenInstrument"><i
                                        class="fa fa-search-plus Zoom"></i> Zoom</a></li>
                                <li><a href="#" class="instrumentRefOptionsDelete"><i class="fa fa-trash-o Delete"></i> Remove
                                    Instrument</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {{/each}}

        {{> pictureLinkerModal picture = this}}

    </div>
</template>