<template name="pictureChanger">
    <div class="col-sm-12 description">
        <!-- Trigger the modal with a button -->

        <p>Class: {{class}}</p>

        <div class="row">
            <div class="col-sm-12 column-padding">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tags</label>

                    <div class="col-sm-9">
                        {{>tagInput}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 column-padding">
                <div class="form-group">
                    <label for="inputComment" class="col-sm-3 control-label">Comment</label>

                    <div class="col-sm-9">
                            <textarea id="inputComment" class="form-control" rows="8"
                                      placeholder="Write a comment or description...">{{comment}}</textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>