<template name="statistics">

    {{> filter}}

    <h1>Statistics
        <button id="addPieChart" class="btn btn-primary"><i class="fa fa-pie-chart"></i> New</button>
        <button id="addBarChart" class="btn btn-primary"><i class="fa fa-bar-chart"></i> New</button>
    </h1>

    <div class="well clearfix">
        <a class="btn btn-info pull-right" href="/">View instruments</a>
        <h4>Current data set size: {{setSize}}</h4>
    </div>

    <div class="row">
        {{#each chart in charts}}
            {{> Template.dynamic template=chart.type data=chart}}
        {{/each}}

    </div>

    <!--<div class="row">
        <div class="col-sm-12">
            {{>barchart}}
        </div>
    </div>-->


</template>